body {
  background-color: #f8f9fa34;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card-title {
  color: #137988;
}

.card-text {
  color: #6c757d;
}

.card-header {
  background-color: #17a2b8;
  color: #ffffff;
}

.form-select {
  border-color: #17a2b8;
}

button.btn {
  background-color: #17a2b8;
  border-color: #17a2b8;
}

button.btn:hover {
  background-color: #138496;
  border-color: #138496;
}
